.text-section {
  padding: 15rem 0;
}
.text-section .text {
  max-width: 100%;
}
.text-section .link , .link {
  color: var(--accent-color);
  position: relative;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}
.text-section .link::after, .link::after {
  display: block;
  content: '';
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.1rem;
  width: 0;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 768px)   {
  .text-section .link:hover::after, .link:hover::after {
    width: 100%;
  }
}